@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 8px;
    /*aqui los comentarios*/
}
nav{  
    width: 100%; 
    display: grid;
    top: 0;
    position: sticky; 
    background-color: #ffff;
    z-index: 1;
    /*pongo "z-index:1;" porque si no lo pongo las imagenes se sobreponen*/
} 

li{
    line-gap-override: 125%;/*esto lo he puesto para eliminar un error que me decía el programa*/
    font-size: 16px;
    display: grid;
}
h2{   
    position: top;
    font-size: 32px;
}
 main{
    flex-direction : row;
    position: relative;
   /* top: 100px;*/
    font-size: 14px;
}
    .contenedor-grid{
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr 1fr;
    }
    /*.foto{
        text-align: center;
        padding: 10px;
    }*/
footer{
    background-color: #212429;
    position: static;
    color:#ffff;
    font-size: 16px;
}
.icono{
    display: inline-block;
    border-radius: 50%;
    text-align: left;
    background-color: #ffff;
}