@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 8px;
    /*aqui los comentarios*/
}
nav{
     top: 0;
    position: sticky; 
    z-index: 1; 
    /*    pongo "z-index:1;" porque si no lo pongo las imagenes se sobreponen a la barra de navegación*/
}
.nav{  
    display: flex;
    background-color:#ffff;
    border-bottom: 1px solid black;
    padding: 16px;
   
} 
.iconos{
    display: flex;
}
ul{
    width: 100%;
    display: flex;   
}
li{
    font-size: 16px;
    display: grid; 
    grid-template-columns: 100%;   
}
h2{   
    position: top;
    font-size: 32px;
}
 main{
    position: relative;
    font-size: 14px;
}
    .contenedor-grid{
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
    }
footer{
    display: flex;
    background-color: #212429;
    color:#ffff;
    font-size: 16px;
    justify-content: space-between; 
}
.footer-item{
    display: flex;
    align-items: center;
}
.icono{
    display: inline-block;
    border-radius: 50%;
    background-color: #ffff;
}
img:hover{
    background-color: aquamarine;
}
.informacion:hover{
    background-color: aquamarine;
}
li:hover{
    background-color: aquamarine;
}
.icono:hover{
    background-color: aquamarine;
}
span:hover{
    background-color: aquamarine;
}
@media (max-width: 920px){
    nav img{
        margin: 0 auto;
    }
    ul{
        display: none;
    }
    .iconos{
        display: none;
    }
    .contenedor-grid{
    grid-template-columns: 1fr;
    }
    footer{
        flex-direction: column;
    }
    .footer-item{
        border-bottom: 1px solid white;
        padding-bottom: 16px;
    }
}
@media (min-width: 1280px){
    .contenedor-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}